<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Cast</h1>
  <a href="/casts/add">add</a>
  <table>
    <th>No</th>
    <th>ID</th>
    <th>Full Name</th>
    <th>Birth Year</th>
    <th>Gender</th>
    <th>Option</th>
      <%let no = 1%>
    <%dataCasts.forEach(item => {%>
    <tbody>
        <td><%=no++%></td>
        <td><%= item.id%></td>
        <td><%= item.getFullName()%></td>
        <td><%= item.birth_year%></td>
        <td><%= item.gender%></td>
        <td><a href="/casts/seemovies/<%=item.id%>">see movies</a></td>
        <td><a href="/casts/edit/<%=item.id%>">Edit</a></td>
        <td><a href="/casts/delete/<%=item.id%>">Delete</a></td>


    </tbody>
    <%})%>
  </table>
</body>
</html>
