<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <%- include ./partials/menu.ejs %>
    <form action="/movies/add/<%= id %>" method="post" >
        <input type="hidden" name="MovieId" value="<%= id %>">
        <select name="CastId">
            <% dataCasts.forEach((row) => { %>
                <option value="<%= row.id %>"><%= row.getFullname() %></option>
            <% }) %>
        </select>
        <input type="text" name="role" required>
       
        <input type="submit" value="add">
    </form>
</body>
</html>