<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>All Movie</title>
</head>
<body>
	<h1><%= movieCast.getFullname()%></h1>

	<table border="1">
		<tr>
			<td>Movie</td>
			<td>Released Year</td>
			<td>Age when Movie Released	</td>
			<td>Role</td>
		</tr>

		<% movieCast.MovieCasts.forEach( function(movie, index) { %>
			<tr>
				<td><%= movie.Movie.name %></td>
				<td><%= movie.Movie.released_year %></td>
				<td><%= +movie.Movie.released_year - +movieCast.birth_year %></td>
				<td><%= movie.role %></td>
			</tr>
		<%  });  %>
	</table>
</body>
</html>