<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Cast</h2>
    <table>
      <thead>
        <td>Full Name</td>
        <td>Birth Year</td>
        <td>Gender</td>
        <td>action</td>
      </thead>
      <% data.forEach(dt=>{ %>
        <tr>
          <td><%=dt.fullName%></td>
          <td><%=dt.birth_year%></td>
          <td><%=dt.gender%></td>
          <td><a href="/casts/edit/<%=dt.id%>">Edit</a> |
            <a href="/casts/delete/<%=dt.id%>">Delete</a></td>
        </tr>
      <% }) %>
    </table>
  </body>
</html>
