<html>

<head>
    <title>
        Data Movie
    </title>
</head>

<body>
    <header>
        <a href="/">Home</a>
        <a href="/casts">Cast</a>
        <a href="/movies">Movie</a>
    </header>

    <table>
        <tr>
            <th>Name</th>
            <th>Birth Year</th>
            <th>Gender</th>
            <th colspan="3">Action</th>
        </tr>

        <% dataCasts.forEach((cast)=>{%>
            <tr>
                <td>
                    <%= cast.getFullName()%>
                </td>

                <td>
                    <%= cast.birth_year%>
                </td>
                <td>
                    <%= cast.gender%>
                </td>
                <td>
                    <a href="/casts/edit/<%= cast.id%>">Edit</a>
                </td>
                <td>
                    <a href="/casts/delete/<%= cast.id%>">Delete</a>
                </td>
                <td>
                    <a href="/casts/<%= cast.id%>/listMovies">List Movies</a>
                </td>
            </tr>
            <%})%>

    </table>

    <a href="/casts/add"> Add Item</a>
</body>

</html>