<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie</title>
    <style>
      table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
      }
    </style>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/movies">Movie</a></li>
      <li><a href="/casts">Cast</a></li>
    </ul>
    <h3><a href="/casts/add">Add Cast</a></h3>
    <table style="width:50%">
      <tr>
        <th>Name</th>
        <th>Birth Day Year</th>
        <th>Gender</th>
        <th colspan="3">Action</th>
      </tr>
      </tr>
      <%dataCasts.forEach(cast=>{%>
        <tr>
          <td><%=cast.getFullName()%></td>
          <td><%=cast.birth_year%></td>
          <td><%=cast.gender%></td>
          <td><a href="/casts/edit/<%=cast.id%>">Edit</a></td>
          <td><a href="/casts/delete/<%=cast.id%>">Delete</a></td>
          <td><a href="casts/<%=cast.id%>/listMovies">See Movies</a></td>
        </tr>
      <%})%>
      </table>
  </body>
</html>
