<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table>
      <tr>
        <td>first name</td>
        <td>last name</td>
        <th>full name</th>
        <td>birth year</td>
        <td>gender</td>
      </tr>
      <%for(var i = 0; i < cast.length; i++){%>
        <tr>
          <td><%=cast[i].first_name%></td>
          <td><%=cast[i].last_name%></td>
          <td><%=cast[i].getfullname()%></td>
          <td><%=cast[i].birth_year%></td>
          <td><%=cast[i].gender%></td>
          <td><a href="/cast/delete/<%=cast[i].id%>">delete</a></td>
          <td><a href="/cast/edit/<%=cast[i].id%>">edit</a></td>
          <td><a href="/cast/seemovie/<%=cast[i].id%>">See movie</a></td>
        </tr>
      <%}%>
    </table>
    <p><a href="/cast/add">add</a></p>
    <p><%=cast[0].getfullname()%></p>
  </body>
</html>
