<!DOCTYPE html>
<html>
<body>

<form action="/casts">
    First name:<br>
    <input type="text" name="firstname" value="<%=dataCast.first_name%>">
    <br>
    Last name:<br>
    <input type="text" name="lastname" value="<%=dataCast.last_name%>">
    <br>
    Full Name:<br>
    <input type="text" name="lastname" value="<%=dataCast.first_name%>+<%=dataCast.last_name%>">
    <br>
    Birth Year:<br>
    <input type="text" name="birth_year" value="<%=dataCast.birth_year%>">
    <br>
    <select>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
    
    <br>
    <br>
    <input type="submit" value="Submit">
  </form> 


    


</body>
</html>
