<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <%- include ./partials/menu.ejs %>
    <form action="/casts/edit/<%= dataCast.id %>" method="post">
        <input type="text" name="first_name" value="<%= dataCast.first_name %>">
        <input type="text" name="last_name" value="<%= dataCast.last_name %>">
        <input type="text" name="birth_year" value="<%= dataCast.birth_year %>">
        <select name="gender">
            <% gender.forEach((row) => { 
            
                if(dataCast.gender == row){
            
            %>

                <option value="<%= row %>" selected><%= row %></option>

            <% } else { %>

                <option value="<%= row %>"><%= row %></option>

            <% 
               }
            }) 
            
            %>
        </select>
        <input type="submit" value="edit">
    </form>
</body>
</html>